.logo-slog {
  padding-top: 5px;
  height: 77px;
  width: 270px;
  overflow: hidden;
  img {
    margin: 0px 0px 0px -550px;
  }
}

.logo-ksk {
  width: 208px;
  margin: 10px;
  background: rgb(255,0,0);
}

.logo-audioconcept {
  img {
    padding-top: 15px;
  }
}

.logo-mwk {
  width: 250px;
}