$baseFontSize: 17px;
@import 'bourbon';
@import 'bootstrap';

header {
  display: none;
  visibility: hidden;
}

body {
  margin: 25mm 25mm 25mm 25mm;
}

a.header-image {
    display: none;
    visibility: hidden;
    img {
        display: none;
        visibility: hidden;
    }
}

.navbar {
    display: none;
    visibility: hidden;
    .topbar{
        display: none;
        visibility: hidden;

    }
}

.navbar-inner {
    display: none;
    visibility: hidden;
}

ul.nav {
        display: none;
        visibility: hidden;
}

.noprint, p.noprint, th.noprint, td.noprint {
        display: none;
        visibility: hidden;
}


footer {
    display: none;
    visibility: hidden;
}