@import 'bourbon/bourbon';
@import 'bootstrap';

a.header-image {
    display: none;
    visibility: hidden;
    img {
        display: none;
        visibility: hidden;
    }
}

.topbar-wrapper {
    display: none;
    visibility: hidden;
    .topbar{
        display: none;
        visibility: hidden;

    }
}

.topbar-inner {
    display: none;
    visibility: hidden;
}

ul.nav {
        display: none;
        visibility: hidden;
}

.noprint, p.noprint, th.noprint, td.noprint {
        display: none;
        visibility: hidden;
}


footer {
    display: none;
    visibility: hidden;
}