<h1>Verwaltung</h1>

<ul>
    <li><%= link_to 'Inhalte bearbeiten', pages_path %></li>
    <li><%= link_to 'News verwalten', infos_path %></li>
    <li><%= link_to 'Ereignisse verwalten', events_path %></li>
    <li><%= link_to 'Bildergallerien verwalten', galleries_path %></li>
</ul>

