ul#menu{
  /*  overflow:auto; */
   width:100%;
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;

   text-align:center;
   @include linear-gradient($border-color-light, $border-color-dark);
   @include box-shadow(5px 5px 5px 0 #888);
   @include border-radius(10px);

    li  {
	    list-style-type: none;
	    display: block;
	    width: 8em;
	    float: left;
	    text-align: center;
	    padding: 10px;
	    position:relative;

	    &:hover > a {
        	color: white;
	    }

	    &:hover > ul {
	        display: block;
	    }
     }

     ul{
		list-style: none;
		margin: 0;
		padding: 0px;
		display: none;
		position: absolute;
		top: 37px;
		left: 0;
		z-index: 99999;
		@include linear-gradient($border-color-light, $border-color-dark);
		@include border-radius(5px);

		li{
		    float: none;
		    margin: 0;
		    padding: 10px;
		    display: block;
		    &:hover{
			background: $font-color-highlight;
		    }
		    &:first-child {
			@include border-radius(5px 5px 0 0);
		    }
		    &:last-child {
			@include border-radius(0 0 5px 5px);
		    }
	        }
     }

     &:after {
        visibility: hidden;
        display: block;
        content: '.';
        clear: both;
        height: 0;
     }
}
