@import "colors";
@import 'bourbon/bourbon';
@import 'menu_bar';
@import 'calendar_bar';

* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px Molengo, Arial, sans-serif;	
	color: $font-color;
	width: 100%;	
}

a {
	color: $font-color-highlight;
	font-weight: bold;
	outline: none;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font: 20px Allan, Arial, sans-serif;
	color: $font-color-highlight;
}

p {
	margin: 0 0 18px
}

img {
	border: none;
}

input {
	vertical-align: middle;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color:$background-color-light;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;	
	background-image: url(/images/header.jpg);
}
/* Middle
-----------------------------------------------------------------------------*/
#menucontainer {
    // overflow:auto;
}

#content {
	padding: 10px;

	h1 {
		margin-top: 15px;
	}

	h2, h3{
        margin-top: 10px;
	}

    ul, ol {
        margin-left: 15px;
    }

    #left, #center, #right{
	    border: 1px solid $background-color-dark;
	    @include border-radius(5px);
        width: 30%;
        margin: 5px;
        position: relative;
        float: left;
        padding: 5px;
    }
}
#content:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: 10px;
	padding: 10px;	
  overflow:auto; 
	background: $background-color-dark;
	@include border-radius(5px);
  
  #left, #right{
    position: relative;
    float: left;
  }
  
  #left{
    width:49%;
  }
  
  #right{
    text-align:right;
    width:50%;
  }
}
