<section id="users">
  <article class="col-1">
    <div class="page-header">
      <h3>Benutzerverwaltung</h3>
    </div>
    <%= link_to 'Neuen Benutzer anlegen', new_user_path %>
    <table class="table table-striped">
      <tr>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
          <tr>
            <td><%= user.email %> </td>
            <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
            <td><%= link_to 'Löschen', user, data: { confirm: "Soll der Benutzer wirklich gelöscht werden?" }, :method => :delete %></td>
          </tr>
      <% end %>
    </table>
  </article>
</section>