<%= render :partial=>"events/simplecalendar", :locals=>{:events=>@monthly_events, :start_date=>@start_date, :end_date=>@end_date} %>

<br clear="all"/>
<div id="left">
  <h2>Aktuelles</h2>
  <h3><%= @latest_info.nil? ? "nix los" : @latest_info.title %></h3>
  <%=  @latest_info.nil? ? "" : @latest_info.content %>
</div>
<div id="center">
  <h2>Sinfonieorchester</h2>
  <a href="probenplan/Sinfonieorchester">Probenplan</a><br/>

</div>
<div id="right">
  <h2>Stadtkapelle</h2>
  <a href="probenplan/Stadtkapelle">Probenplan</a>
</div>
