<div id="container">
    <div id="content">
        <%= render :partial=>"events/simplecalendar" %>
		<h1>Aktuelles</h1>
		<ul>
			<li id="hilite">Probenwoche des Sinfonieorchesters in Lindenberg/Allg&auml;u</li>
			<li>Proben f&uuml;r den &quot;Wildsch&uuml;tz&quot; laufen auf Hochtouren, Permiere ist am 19.03.2011.</li>
			<li id="hilite">Die Stadtkapelle plant eine Konzertreise nach Nizhny Novgorod, Russland.</li>
		</ul>

		<h1>n&auml;chste Konzerte</h1>
		<ul>
			<li id="hilite">Sa., 19.03.2011 Der Wildsch&uuml;tz (Sinfonieorchester)</li>
			<li>Mi., 23.03.2011 Der Wildsch&uuml;tz (Sinfonieorchester)</li>
			<li id="hilite">Fr., 25.03.2011 Der Wildsch&uuml;tz (Sinfonieorchester)</li>
			<li>Sa., 26.03.2011 Der Wildsch&uuml;tz (Sinfonieorchester)</li>
		</ul>
	</div><!-- #content-->
</div><!-- #container-->
