<% today = Date.today
   start_date = Date.new(today.year, today.month, 1)
   end_date = Date.new(today.year, today.month + 1, 1) -1 %>
<ul>
<% start_date.to_date.upto(end_date.to_date){ |day| %>   
<li><%= day.to_s %> </li>
<% } %>
</ul>

 
