<section id="events">
<div class="page-header">
<h1>Termine</h1>
</div>
<% if user_signed_in? then %>
<%= link_to('Neuer Termin', new_event_path) %>  |
<%= link_to('Neues Konzert', new_concert_path) %>
<% end %>
<%= event_calendar.html_safe %>
</section>