<% content_for :title, "Termine" %>
<section id="events">
<div class="page-header">
<h3>Termine</h3>
</div>
<% if user_signed_in? then %>
<p>
    <%= link_to('Neuer Termin', new_event_path) %>  |
    <%= link_to('Neues Konzert', new_concert_path) %>
</p>
<% end %>

<%= event_calendar.html_safe %>
<p>&nbsp;</p>
<span class="legende sinf">Sinfonieorchester</span> &nbsp;
<span class="legende skp">Stadtkapelle</span> &nbsp;
<span class="legende mvb">Gesamtverein</span>

</section>