<% content_for :title, "Neuer Termin" %>
<div class="page-header">
<h3><%= yield :title %></h3>
</div>
  <p>
    <%= link_to 'Anzeigen', @event %> |
    <%= link_to 'Zurück', events_path %>
  </p>
<%= render 'form' %>
