<p id="notice"><%= notice %></p>

<%= @page.main_content.html_safe %>

<%= link_to('Bearbeiten', edit_page_path(@page)) if user_signed_in? %> <br />
<%= link_to('Zurück zur Übersicht', pages_path) if user_signed_in? %>

