<% content_for :title, @page.name %>

<div class="page-header">
  <section>
    <article class="col-1">
      <% if user_signed_in? then %>
          <%= link_to('Bearbeiten', edit_page_path(@page)) %>
      <% end %>
    </article>
  </section>
  <section>
    <article class="col-1">
      <h3><%= @page.name %></h3>
    </article>

  </section>
</div>

<section>
  <article class="col-1"><%= @page.main_content.html_safe %></article>
</section>




