<% content_for :title, "Neues Konzert" %>
<section id="concerts">
<div class="page-header">
  <h3><%= yield :title %></h3>
</div>

<%= render 'form' %>

<%= link_to 'Zurück zur Übersicht', concerts_path %>
</section>