<% content_for :title, "Bildergallerie bearbeiten" %>
<section id="images">
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<%= render 'form' %>

<%= link_to 'Anzeigen', @gallery %> |
<%= link_to 'Zurück', galleries_path %>
</section>