<% content_for :title, "Bildergalerie bearbeiten" %>
<section id="images">
  <article class="col-1">
    <div class="page-header">
      <h3><%= yield :title %></h3>
    </div>


    <%= link_to 'Anzeigen', @gallery %> |
    <%= render 'form' %>
  </article>
</section>