<section id="images">
<div class="page-header">
<h1>Bildergallerie bearbeiten</h1>
</div>
<%= render 'form' %>

<%= link_to 'Anzeigen', @gallery %> |
<%= link_to 'Zurück', galleries_path %>
</section>