<% content_for :title, "Neue Bildergalerie" %>
<section id="images">
  <article class="col-1">
    <div class="page-header">
      <h3><%= yield :title %></h3>
    </div>

    <%= render 'form' %>

  </article>
</section>