
/*
*= require jquery-ui
*= require smoothness/jquery-ui-1.8.16.custom.css
*= require event_calendar.css
*= require jquery.lightbox-0.5.css
*= require timepicker.css
*= require_self
*/

@import 'bourbon';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'sass/bootstrap-custom.scss';

.calendar.month {
  width: 100%;


  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 5px;
    td {
      padding: 5px;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      vertical-align: top;

      ul {
        list-style-type: none;
        margin-top: 10px;
        margin-left:0;
        li {
           margin-top: 15px;
           a {
             color: white;
           }
        }
      }
    }

    th {
      padding: 5px;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      background-color: #E5E5E5;
    }

  }
}

span.calendar-event {
  border-radius: 5px;
  padding: 5px;
  display:inline-block;
}

span.legende{
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

span.context-sinf{
    background-color: orange;
}

span.context-skp{
    background-color: blue;
}

span.context-mvb{
    background-color: green;
}


