<%= bootstap_form_for(@press_article, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
