<section id="probenplan">
  <div class="page-header">
    <h3>Probenpläne</h3>
  </div>
<ul>
  <% @plans.each do |plan| %>
      <li> <%= link_to plan.orchestra, plan %> </li>
  <% end %>
</ul>

<%= link_to('Neuen Probenplan anlegen', new_plan_path) if user_signed_in? %>
</section>