<section id="infos">
  <article class="col-1">
  <div class="page-header">
    <h3>Aktuelle Information bearbeiten</h3>
  </div>
    <%= link_to 'Anzeigen', @info %>
    <%= render 'form' %>
  </article>
</section>